{% extends 'base.html' %}

{% block content  %}

  {% if message %}
          <script>
              alert({{message}})
          </script>
  {% endif %}
  <style>

    .link {
      stroke: #000;
      stroke-width: 1.5px;
    }
    
    .node {
      cursor: move;
      fill: #ccc;
      stroke: #000;
      stroke-width: 1.5px;
    }
    
    .node.fixed {
      fill: #f00;
    }
    
            #mynetwork1 {
                width: 800px;
                height: 800px;
                background-color: #ffffff;
                border: 1px solid lightgray;
                position: relative;
                float: left;
            }
    
            #mynetwork2 {
                width: 800px;
                height: 800px;
                background-color: #ffffff;
                border: 1px solid lightgray;
                position: relative;
                float: left;
            }
            
            #mynetwork3 {
                width: 800px;
                height: 800px;
                background-color: #ffffff;
                border: 1px solid lightgray;
                position: relative;
                float: left;
            }
    
    .canvas {
        width:800px;
        height:800px;
    }
</style>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" type="text/css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"> </script>
  <script type="text/javascript" src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
</head>
<body>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" >
    <a class="nav-link active" id="organisation-tab" data-toggle="tab" href="#organisation" role="tab" aria-controls="organisation" aria-selected="true">Organisational View</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="organisation" role="tabpanel" aria-labelledby="timeframe-tab">
    <div class="container-fluid" id="graph">
      <div class="row">
      <div class="col-4">
        <div class="card views-card" >
          <div class="card-header">
            Overview <i class="fas fa-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Here you can see the high level overview of the log"></i>
          </div>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cases:
              <span class="font-weight-bold">{{result.Ncase}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Events:
              <span class="font-weight-bold">{{result.Nactivities}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Variants:
              <span class="font-weight-bold">{{result.Nvariant}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Unique Activities:
              <span class="font-weight-bold">{{result.Nunique_Activities}}</span>
            </li>
          </ul>
        </div>
        <div class="card views-card" >
          <div class="card-header">
            Log Performance <i class="fas fa-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Here you can see the basic log performance information of the log"></i>
          </div>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Start Time:
              <span class="font-weight-bold">{{result.StartTime}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              End Time:
              <span class="font-weight-bold">{{result.EndTime}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Duration:
              <span class="font-weight-bold">{{result.TotalDuration}}</span>
            </li>
          </ul>
        </div>
        <div class="card views-card" >
          <div class="card-header">
            Case Performance <i class="fas fa-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Here you can see the case performance information of the log"></i>
          </div>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Median Case Duration:
              <span>{{result.MedianCaseDuration}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Mean Case Duration:
              <span class="font-weight-bold">{{result.MeanCaseDuration}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Max Case Duration:
              <span class="font-weight-bold">{{result.MinCaseDuration}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-8">
        <form  name="perspective_view" action="perspective_view" method = "POST">

            <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
              {% if log_name != ':notset:' %}
            
              {% else %}
                <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log as input!</p>
              {% endif %}

            {% csrf_token %}

          </div>
        </div>
        <br>
        
        </form>
          <form action="" method="get">
            {% csrf_token %}
            <div id="mynetwork1"></div>
       </form>
      </div>
    </div>
    </div>

  </div>

  <div class="tab-pane fade" id="doctor" role="tabpanel" aria-labelledby="concurrency-tab">
    <div class="container-fluid" id="graph">
      <div class="row">
      <div class="col-4">
        <br>
        <div class="overflow-auto" style="height: 550px;">
          <div class="card views-card" >
            <div class="card-header">
              Case Id : No of events <i class="fas fa-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Click on the corresponding ase to refresh the view"></i>
            </div>
            <div class="list-group" id="list-tab" role="tablist">
              {% for value in result.case %}
              <a onclick="refreshCase('{{value.Name}}')" href="#{{value.Name}}" data-toggle="list" role="tab" aria-controls="case" class="list-group-item list-group-item-action">
                Case {{value.Name}} : {{value.variant}}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div style="margin-top: 40px;">
          <select id="CaseOverview" class="custom-select custom-select-md mb-3 form-select" aria-label="Default select example">
            <option selected value="dfg_overview">Directly Follows Graph</option>
            <option value="case_overview">Case Overview</option>
          </select>
        </div>
        
      </div>
      <div class="col-8">
        <form  name="perspective_view" action="perspective_view" method = "POST">

            <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
              {% if log_name != ':notset:' %}
              {% else %}
                <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log as input!</p>
              {% endif %}

            {% csrf_token %}

          </div>
        </div>
        <br>
        </form>
          <form action="" method="get">
            {% csrf_token %}
            
            <div id="mynetwork2"></div>
            <div id="caseOverviewPlot"></div>
       </form>
      </div>
    </div>
    </div>
  </div>

  <div class="tab-pane fade" id="disease" role="tabpanel" aria-labelledby="concurrency-tab">
    <div class="container-fluid" id="graph">
      <div class="row">
        <div class="col-4">
          <div>
            <p>Filter by Activity <i class="fas fa-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Select the activity to filter the disease view"></i></p>
            <select class="custom-select custom-select-md mb-3 form-select" id="VariantFilter" aria-label="Default select example">
              {% for value in activities %}
              <option value="{{value}}">{{value}}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          <div class="card views-card" >
            <div class="card-header">
              Overview <i class="fas fa-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Here you can see the high level overview of the log"></i>
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Cases:
                <span class="font-weight-bold" id='Ncase'>{{result.Ncase}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Events:
                <span class="font-weight-bold" id='Nactivities'>{{result.Nactivities}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Variants:
                <span class="font-weight-bold" id='Nvariant'>{{result.Nvariant}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Unique Activities:
                <span class="font-weight-bold" id='Nunique_Activities'>{{result.Nunique_Activities}}</span>
              </li>
            </ul>
          </div>
          <div class="card views-card" >
            <div class="card-header">
              Log Performance <i class="fas fa-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Here you can see the basic log performance information of the log"></i>
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Start Time:
                <span class="font-weight-bold" id="StartTime">{{result.StartTime}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                End Time:
                <span class="font-weight-bold" id="EndTime">{{result.EndTime}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Duration:
                <span class="font-weight-bold" id="TotalDuration" >{{result.TotalDuration}}</span>
              </li>
            </ul>
          </div>
          <div class="card views-card" >
            <div class="card-header">
              Case Performance <i class="fas fa-info-circle info-icon" data-toggle="tooltip" data-placement="top" title="Here you can see the case performance information of the log"></i>
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Median Case Duration:
                <span class="font-weight-bold" id='MedianCaseDuration'>{{result.MedianCaseDuration}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Mean Case Duration:
                <span class="font-weight-bold" id='MeanCaseDuration'>{{result.MeanCaseDuration}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Max Case Duration:
                <span class="font-weight-bold" id='MinCaseDuration'>{{result.MinCaseDuration}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-8">
          <form  name="perspective_view" action="perspective_view" method = "POST">
            <div class="row">
              <div class=" col-sm-6 col-md-7 col-lg-8">
                  {% if log_name != ':notset:' %}
                {% else %}
                    <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log as input!</p>
                  {% endif %}

                {% csrf_token %}

              </div>
            </div>
          </form>
          <form action="" method="get">
                {% csrf_token %}
                <div id="mynetwork3"></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
{% endblock %}

{% block script %}
<script type="text/javascript">

  var data = "{{data | escapejs}}";
  data = JSON.parse(data);

function nodecolFunc(node) {
            if (node.isUnique === 'True') 
                return  '#FF0000';        
            return  '#C6E5FF';   
        }

function CreateGraph(JObj, id)
        {
            const container = document.getElementById(id);
            const width = 800;
            const height = 800;
            const graph = new G6.Graph({
                container,
                width,
                height,
                layout: {
                    type: 'dagre',
                    nodesepFunc: (d) => {
                        if (d.id === '3') {
                            return 500;
                        }
                        return 50;
                    },
                    ranksep: 70,
                    controlPoints: true,
                },
                defaultNode: {
                    type: 'sql',
                },
                defaultEdge: {
                    type: 'polyline',
                    style: {
                        radius: 20,
                        offset: 45,
                        endArrow: true,
                        lineWidth: 2,
                        stroke: '#C2C8D5',
                    },
                    labelCfg: {
                        style: {
                            fontSize: 25,
                            fontWeight: "bold"
                        }
                    },
                },
                nodeStateStyles: {
                    selected: {
                        stroke: '#d9d9d9',
                        fill: '#5394ef',
                    },
                },
                modes: {
                    default: [
                        'drag-canvas',
                        'zoom-canvas',
                        'click-select',
                        {
                            type: 'tooltip',
                            formatText(model) {
                                const cfg = model.conf;
                                const text = [];
                                cfg.forEach((row) => {
                                    text.push(row.label + ':' + row.value + '<br>');
                                });
                                return text.join('\n');
                            },
                            offset: 30,
                        },
                    ],
                },
                fitView: true,
            });

            G6.registerNode(
                'sql',
                {
                    drawShape(cfg, group) {
                        const rect = group.addShape('rect', {
                            attrs: {
                                x: -75,
                                y: -25,
                                width: 150,
                                height: 50,
                                radius: 10,
                                stroke: '#5B8FF9',
                                fill: nodecolFunc(cfg),
                                lineWidth: 3,
                            },
                            name: 'rect-shape',
                        });
                        if (cfg.name) {
                            group.addShape('text', {
                                attrs: {
                                    text: cfg.name,
                                    x: 0,
                                    y: 0,
                                    fill: '#00287E',
                                    fontSize: 14,
                                    textAlign: 'center',
                                    textBaseline: 'middle',
                                    fontWeight: 'bold',
                                },
                                name: 'text-shape',
                            });
                        }
                        return rect;
                    },
                },
                'single-node',
            );
            graph.data(JObj);
            graph.render();

            if (typeof window !== 'undefined')
                window.onresize = () => {
                    if (!graph || graph.get('destroyed')) return;
                    if (!container || !container.scrollWidth || !container.scrollHeight) return;
                    graph.changeSize(container.scrollWidth, container.scrollHeight);
                };


        }
        
$(document).ready(() => {
    CreateGraph(data, "mynetwork1");
});
$(document).ready(() => {
    CreateGraph(data, "mynetwork2");
});
$(document).ready(() => {
    CreateGraph(data, "mynetwork3");
});

function getSelectedNodes(){
    alert(selection);
    document.getElementById('values').value = selection;
    return selection;
}

var token = '{{csrf_token}}';

var global_case_id=null;

$(document).ready(function(){
    $('#CaseOverview').change(function(){
      if (this.value=="dfg_overview"){
        //refreshCase(this.value);
        $('#caseOverviewPlot').hide();
        $('#mynetwork2').show();
        refreshCase(global_case_id);
      }
      else {
        $('#mynetwork2').hide();
        $('#caseOverviewPlot').show();
        refreshCase(global_case_id);
      }
    });
});


function refreshCase(caseId){
    global_case_id=caseId;
    selectedView=document.getElementById("CaseOverview").value;
    if(selectedView=="dfg_overview"){
        $.ajax({
        headers: { "X-CSRFToken": token },
        url: "/views/ajax/casefilter/dfg",
        type: 'POST',
        data: {'selected_case': caseId, 'X-CSRFToken':token},
        dataType:'html',
        success: function(result) {
          result = JSON.parse(result);
          data = JSON.parse(result['data']);
          document.getElementById("mynetwork2").innerHTML="";
          CreateGraph(data, "mynetwork2");
        }
      });
    }
    else{
      $.ajax({
        headers: { "X-CSRFToken": token },
        url: "/views/ajax/casefilter/plt",
        type: 'POST',
        data: {'selected_case': caseId, 'X-CSRFToken':token},
        dataType:'html',
        success: function(result) {
        $('#caseOverviewPlot').html(result);
         
        }
      });
      return true;
    }
    return true;
}


$(document).ready(function(){
    $("#VariantFilter").change(function(){
      refreshVariant(this.value);
    });
});



function refreshVariant(activityId){
        $.ajax({
        headers: { "X-CSRFToken": token },
        url: "/views/ajax/activityfilter/",
        type: 'POST',
        data: {'selected_activity': activityId, 'X-CSRFToken':token},
        dataType:'html',
        success: function(result) { 
            // Parse the html response into the correct div
         
          result = JSON.parse(result);
          $("#Ncase").html(result['filtered_result']['Ncase']);
          $("#Nvariant").html(result['filtered_result']['Nvariant']);
          $("#Nactivities").html(result['filtered_result']['Nactivities']);
          $("#Nunique_Activities").html(result['filtered_result']['Nunique_Activities']);
          $("#StartTime").html(result['filtered_result']['StartTime']);
          $("#EndTime").html(result['filtered_result']['EndTime']);
          $("#TotalDuration").html(result['filtered_result']['TotalDuration']);
          $("#MedianCaseDuration").html(result['filtered_result']['MedianCaseDuration']);
          $("#MeanCaseDuration").html(result['filtered_result']['MeanCaseDuration']);
          $("#MinCaseDuration").html(result['filtered_result']['MinCaseDuration']);
          $("#MaxCaseDuration").html(result['filtered_result']['MaxCaseDuration']);
          
          data = JSON.parse(result['data']);
          document.getElementById("mynetwork3").innerHTML="";
          CreateGraph(data, "mynetwork3");
        }
      });
  return true;
}

</script>

{% endblock %}