{% extends 'base.html' %} {% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      id="eventlogs-tab"
      data-toggle="tab"
      href="#eventlogs"
      role="tab"
      aria-controls="eventlogs"
      aria-selected="true"
      >Event Logs</a
    >
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="eventlogs" role="tabpanel" aria-labelledby="eventlogs-tab">
  
      <div class="container-fluid">
          <h3 class="mt-4" style="color:#00529F;">Event Logs</h3>
             <br>
          <div class="row">
            <div class=" col-sm-6 col-md-7 col-lg-8">
                  <form  name="load" action="" method = "POST" enctype="multipart/form-data">
                      {% csrf_token %}
  
                      <p>Event log: <input type = "file" data-toggle="tooltip" data-placement="top" title="Click to upload a new log file" value="fileupload" name = "event_log" /></p>
                      <p><input  data-toggle="tooltip" data-placement="top" title="Upload new event log" type = "submit" class="btn btn-primary mb-2" value = "Upload EventLog" name = "uploadButton" id ='submitresEL' /></p>
  
                  </form>
            </div>
          </div>
  
          <br>
          <div class="row">
            <div class=" col-sm-6 col-md-7 col-lg-8">
                  <form  name="choice" action="" method = "POST">
                      {% csrf_token %}
  
                      <select data-toggle="tooltip" data-placement="top" title="Select a log to view additional information" name="log_list" class="custom-select" size="10">
                          {% for eventlog in eventlog_list %}
                              <option value="{{eventlog}}">{{eventlog}}</option>
                          {% endfor %}
                      </select>
  
                      <input style="margin-top: 10px;" data-toggle="tooltip" data-placement="top" title="Select the specified log as default log" type = "submit" class="btn btn-success" value = "Select" name= "setButton" id ='setButton' />
                      <input style="margin-top: 10px;" type = "submit" data-toggle="tooltip" data-placement="top" title="Delete the specified log" class="btn btn-danger" value = "Delete" name= "deleteButton" id ='deleteButton'/>
                      <input style="float: right; margin-top: 10px;" data-toggle="tooltip" data-placement="top" title="Download the specified log" type = "submit" class="btn btn-info" value = "Download" name= "downloadButton" id ='downloadButton'/>
  
  
                  </form>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4">
              <div id="log-info-container"></div>
              <div  class="d-flex justify-content-center align-items-center">
                <div id="loading-spinner" class="spinner-grow" style="width: 5em; height: 5em; display: none;" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
            <br>
  
           <div class="row">
            <div class=" col-sm-6 col-md-7 col-lg-8">
            {% if selected_log_info %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Currently Selected Log</h5>
                <h6 class="card-subtitle mb-2 text-muted">Log Name: {{selected_log_info.log_name}}</h6>
                <p class="card-text">Case Id: {{selected_log_info.case_id}}</p>
                <p class="card-text">Concept Name: {{selected_log_info.concept_name}}</p>
                <p class="card-text">Log Type: {{selected_log_info.log_type}}</p>
                {% ifequal selected_log_info.log_type "noninterval" %}
                  <p id="concept_name"> Timestamp: {{selected_log_info.timestamp}} </p>
                {% endifequal %}
                {% ifequal selected_log_info.log_type "lifecycle" %}
                <p id="concept_name"> Lifecycle Event: {{selected_log_info.lifecycle}} </p>
                {% endifequal %}
                {% ifequal selected_log_info.log_type "timestamp" %}
                <p id="concept_name"> Start Timestamp Event: {{selected_log_info.start_timestamp}} </p>
                <p id="concept_name"> End Timestamp Event: {{selected_log_info.end_timestamp}} </p>
                {% endifequal %}
              </div>
            </div>
            {% endif %}
            </div>
          </div>
        </div>
  
    </div>
  </div>
{% endblock %}

{% block script %}


  <script>
    var token = '{{csrf_token}}';
   $(document).ready(function(){

    $("select.custom-select").change(function(){
        var selectedlog = $(this).children("option:selected").val();
        $.ajax({
          headers: { "X-CSRFToken": token },
          url: "/logmanagement/ajax/loginfo/",
          data: { 
            'log_name': selectedlog,
          },
          dataType:'html',
          success: function(result) {
            // Parse the html response into the correct div
           $('#log-info-container').html(result);
          }
        })
      });
    });

    $(document).ajaxStart(function() {
      $('#log-info-container').hide();
      $("#loading-spinner").show();
    });

    $(document).ajaxStop(function() {
      $("#loading-spinner").hide();
      $('#log-info-container').show();
    });

  </script>

{% endblock %}