{% extends 'base.html' %}

{% block content  %}

  {% if message %}
          <script>
              alert({{message}})
          </script>
  {% endif %}


  <head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="timeframe-tab" data-toggle="tab" href="#timeframe" role="tab" aria-controls="timeframe" aria-selected="true">Timeframe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="concurrency-tab" data-toggle="tab" href="#concurrency" role="tab" aria-controls="concurrency" aria-selected="false">Concurrency</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="timeframe" role="tabpanel" aria-labelledby="timeframe-tab">
     <div class="container-fluid" id="graph">
        
           <div class="row">
              <div class="col-4">
                 <br>
                 <table class="table table-sm table-hover">
                    <thead>
                       <tr>
                          <th scope="col">Group Name</th>
                          <th scope="col">Number of Activities</th>
                       </tr>
                    </thead>
                    <tbody>
                       {% if  active_group_details.items %}
                       {% for key, value in active_group_details.items %}
                       {% with group_name=value.group_name %}   
                       <tr>
                          <td>
                             <label class="radio-inline">
                             <input type="radio" name="timeframe_group_name" class="timeframe_group_name" id="timeframe_group_name" value="{{group_name}}">
                             {{group_name}}
                             </label>
                          </td>
                          <td style="text-align: center;">{{value.number_of_activities}}</td>
                       </tr>
                       {% endwith %}
                       {% endfor %}
                       {% endif %}
                    </tbody>
                 </table>
                 <form  name="cohort_analysis_timeframe_form" action="" method = "POST">
                  {% csrf_token %}
                 <input type = "button" class="btn btn-primary" value = "Cohort Analysis" name = "cohort_analysis_timeframe" id ='cohort_analysis_timeframe'/>
                 <a class="btn btn-success" href="/groupmanagement/">Create New Group</a>
                </form>
              </div>
              <div class="col-8">
                <br>
                  <input type="text" name="start_end_time" value="" style="width: 50%; text-align: center;" class="form-control user-error date_range" aria-invalid="true">

                   <div id="timeframe-cohort-analysis-container"></div>
                   <div  class="d-flex justify-content-center align-items-center">
                      <div id="loading-spinner-timeframe" class="spinner-grow" style="width: 5em; height: 5em; display: none;" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                   </div>
                 
              </div>
           </div>
     </div>
  </div>
  <div class="tab-pane fade" id="concurrency" role="tabpanel" aria-labelledby="concurrency-tab">
     <div class="container-fluid" id="graph">
        
           <div class="row">
              <div class="col-4">
                 <br>
                 <table class="table table-sm table-hover">
                    <thead>
                       <tr>
                          <th scope="col">Group Name</th>
                          <th scope="col">Number of Activities</th>
                       </tr>
                    </thead>
                    <tbody>
                       {% if  active_group_details.items %}
                       {% for key, value in active_group_details.items %}
                       {% with group_name=value.group_name %}   
                       <tr>
                          <td>
                            <label class="checkbox-inline"> <input type="checkbox" name="concurrency_group_name" class="concurrency_group_name" value="{{group_name}}">
                             {{group_name}}
                            </label>
                          </td>
                          <td style="text-align: center;">{{value.number_of_activities}}</td>
                       </tr>
                       {% endwith %}
                       {% endfor %}
                       {% endif %}
                    </tbody>
                 </table>
                 <form  name="cohort_analysis_concurrency_form" action="" method = "POST">
                  {% csrf_token %}
                  <div>
                    <select name="select_plot_type" class="select_plot_type custom-select custom-select-md mb-3">
                      <option selected value="standard">Standard</option>
                      <option value="amplitude">Amplitude</option>
                    </select>
                  </div>
                  

                 <input type = "button" class="btn btn-primary" value = "Cohort Analysis" name = "cohort_analysis_concurrency" id ='cohort_analysis_concurrency'/>
                 <a class="btn btn-success" href="/groupmanagement/">Create New Group</a>
                </form>
              </div>
              <div class="col-8">
                <br>
                <div class="btn-group btn-group-toggle aggregation-toggle" id="aggregation-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary" aggregation_type="avg">
                    <input type="radio" name="aggregation_option_avg" id="aggregation_option_avg"> AVG
                  </label>
                  <label class="btn btn-secondary active" aggregation_type="max">
                   <input type="radio" name="aggregation_option_max" id="aggregation_option_max"> MAX
                  </label>
                  <label class="btn btn-secondary" aggregation_type="min">
                   <input type="radio" name="aggregation_option_min" id="aggregation_option_min"> MIN
                  </label>
                  <label class="btn btn-secondary" aggregation_type="median">
                    <input type="radio" name="aggregation_option_median" id="aggregation_option_median"> MEDIAN
                  </label>
                  <label class="btn btn-secondary" aggregation_type="iqr">
                    <input type="radio" name="aggregation_option_iqr" id="aggregation_option_iqr"> IQR
                  </label>
                </div>
                 <div class="btn-group btn-group-toggle concurrency-toggle" id="concurrency-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active" concurrency_type="D">
                    <input type="radio" name="concurrency_option_daily" id="concurrency_option_daily"> Daily
                    </label>
                    <label class="btn btn-primary concurrency_weekly" concurrency_type="W">
                    <input type="radio" name="concurrency_option_weekly" id="concurrency_option_weekly"> Weekly
                    </label>
                    <label class="btn btn-primary concurrency_weekly" concurrency_type="SM">
                    <input type="radio" name="concurrency_option_weekly" id="concurrency_option_weekly"> Bi-Weekly
                    </label>
                    <label class="btn btn-primary" concurrency_type="M">
                    <input type="radio" name="concurrency_option_monthly" id="concurrency_option_monthly"> Monthly
                    </label>
                    <label class="btn btn-primary concurrency_weekly" concurrency_type="Q">
                    <input type="radio" name="concurrency_option_weekly" id="concurrency_option_weekly"> Quarterly
                    </label>
                    <label class="btn btn-primary" concurrency_type="Y">
                    <input type="radio" name="concurrency_option_yearly" id="concurrency_option_yearly"> Yearly
                    </label>
                 </div>

                  <div id="concurrency-cohort-analysis-container"></div>
                  <div  class="d-flex justify-content-center align-items-center">
                    <div id="loading-spinner-concurrency" class="spinner-grow" style="width: 5em; height: 5em; display: none;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>


                  <div class="btn-group btn-group-toggle amplitude-toggle" id="amplitude-toggle" style="margin-top:100px;margin-left:250px;float:left;" data-toggle="buttons">
                    <label class="btn btn-primary active" amplitude_type="uniform">
                    <input type="radio" name="amplitude_option_uniform" id="amplitude_option_uniform"> Uniform
                    </label>
                    <label class="btn btn-primary amplitude_group" amplitude_type="group">
                    <input type="radio" name="amplitude_option_group" id="amplitude_option_group"> Group
                    </label>
                 </div>
                  
              </div>
           </div>
     </div>
  </div>
</div>
</body>



{% endblock %}
{% block script %}

<script type="text/javascript">

$(document).ready(function () {
    $(".date_range").daterangepicker({
        "locale":{
            format:"YYYY/MM/DD"
        },
        "autoApply": true,
        "showDropdowns": true,
        "alwaysShowCalendars": true
    });
});


$(document).ready(function(){
  $("input[name='cohort_analysis_timeframe']").click(function(){
    var selected_group_name = $("input[name='timeframe_group_name']:checked").val();
    var start_end_time = $(".date_range").val()
    var operation_type = "timeframe"
    var token = '{{csrf_token}}';
    if(selected_group_name != ''){
      $.ajax({
        headers: { "X-CSRFToken": token },
        url: "/groupmanagement/ajax/cohortanalysisdata/",
        type: 'POST',
        data: {'selected_group_name': selected_group_name, 'operation_type':operation_type,'start_end_time':start_end_time,'X-CSRFToken':token},
        dataType:'html',
        success: function(result) {
            // Parse the html response into the correct div
           $('#timeframe-cohort-analysis-container').html(result);
        }
      })
    }else{
      alert("Please select Groupname!")
    }
  });

  
  $(document).on("change",".select_plot_type",function(e){
    const plot_type = $('.select_plot_type option:selected').val();
    switch(plot_type) {
    case 'standard':
        $("#amplitude-toggle").hide(300)
        $("#aggregation-toggle").show(500)
        $("#concurrency-toggle").show(500)
        break;
      case 'amplitude':
        $("#aggregation-toggle").hide(500)
        $("#concurrency-toggle").hide(500)
        $("#amplitude-toggle").show(1000)
        break;
    }
  });


  $("input[name='cohort_analysis_concurrency']").click(function(){
    selected_time = '';
    $('.concurrency-toggle .btn-primary').each(function() {
      if($(this).hasClass("active")) {
        selected_time = $(this).attr("concurrency_type");
      }
    });

    selected_aggregation = '';
    $('.aggregation-toggle .btn-secondary').each(function() {
      if($(this).hasClass("active")) {
        selected_aggregation = $(this).attr("aggregation_type");
      }
    });
    
    const plot_type = $('.select_plot_type option:selected').val();
    amplitude_plot_type = '';
    if(plot_type == 'amplitude'){
      $('.amplitude-toggle .btn-primary').each(function() {
        if($(this).hasClass("active")) {
          amplitude_plot_type = $(this).attr("amplitude_type");
        }
      });
    }
    
    var groups = [];
    $('.concurrency_group_name').each(function() {
      if ($(this).is(":checked") != false) {
        groups.push($(this).val());
      }
    });
    var operation_type = "concurrency"
    var token = '{{csrf_token}}';
    if(selected_time != '' && groups != ''){
      $.ajax({
        headers: { "X-CSRFToken": token },
        url: "/groupmanagement/ajax/cohortanalysisdata/",
        type: 'POST',
        data: {'selected_group_names': groups,'selected_time':selected_time,'operation_type':operation_type,'selected_aggregation':selected_aggregation,'plot_type':plot_type,'amplitude_plot_type':amplitude_plot_type,'X-CSRFToken':token},
        dataType:'html',
        success: function(result) {
            // Parse the html response into the correct div
           $('#concurrency-cohort-analysis-container').html(result);
        }
      })
    }else{
      alert("Please select Groupname!")
    }
  });

});

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});

$(document).ajaxStart(function() {
  $('#concurrency-cohort-analysis-container').hide();
  $('#timeframe-cohort-analysis-container').hide();
  $("#loading-spinner-timeframe").show();
  $("#loading-spinner-concurrency").show();
});

$(document).ajaxStop(function() {
  $("#loading-spinner-timeframe").hide();
  $("#loading-spinner-concurrency").hide();
  $('#concurrency-cohort-analysis-container').show();
  $('#timeframe-cohort-analysis-container').show();
});


</script>

{% endblock %}