{%  extends "base.html" %}

{%  block content %}

	<div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Cohort Analysis Dashboard, or CAD for short!</h1>
      <p class="lead">
        CAD extends on the UI Framework for PM4PY to allow the applications of methods of Cohort Analysis to Process Data with a focus on data derived from the Medical Domain.
      </p>
      <p class="lead">
        CAD's goal is to create a Dashboard for users working with process data, providing them with informative views on the process and creating new insights for the process owner.
      </p>
      <p class="lead">
        CADs aim is to allow users to analyse processes by creating event groups and view their relation to the process by means of learning about the number of concurrently running events and the time intervals each group of events is happening in.
      </p>
      <hr class="my-4">
      <p>Find out what you can do with Cohort Analysis Dashboard!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="documentation" role="button">Get Started</a>
      </p>
    </div>
	</div>

{%  endblock content %}